<!-- <ng-fab position="right-top" direction="bottom" bgColor="#3D4300">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
	</ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt">	</ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash">	</ng-fab-item>
</ng-fab> -->
<!-- 
<ng-fab position="right-center" direction="left" bgColor="#15979A">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
	</ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt">	</ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash">	</ng-fab-item>
</ng-fab>
<ng-fab position="right-bottom" direction="left" bgColor="#A96CC7">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
	</ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt">	</ng-fab-item>
	<ng-fab-item st (click)="alert('tra class="fa fa-trash"sh')" style="background-color: red; color: white;">	</ng-fab-item>
</ng-fab>
-->

<!-- <ng-fab position="center-bottom" direction="top" bgColor="#BFAE5F" icon="fa fa-eye" label="Create">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
	</ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt">	</ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash">	</ng-fab-item>
</ng-fab> -->

<!-- <ng-fab position="left-bottom" direction="top" bgColor="#BD1DAE" label="Add">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
		<span class="fab-label">Action 1</span>
	</ng-fab-item>
	<ng-fab-item (click)="alert('e icon="fa fa-pencil-alt"dit')" label="Add">	</ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash">	</ng-fab-item>
</ng-fab> -->
<!-- 
<ng-fab position="left-center" direction="right" bgColor="#5079AA">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
	</ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt">	</ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash">	</ng-fab-item>
</ng-fab>
<ng-fab position="left-top" direction="right" bgColor="#A54D3F">
	<ng-fab-item (click)="alert('view')">
		<i class="fa fa-eye"></i>
	</ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt">	</ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash">	</ng-fab-item>
</ng-fab>
-->
<ng-fab position="center-top" direction="bottom" bgColor="#A89C38">
	<ng-fab-item (click)="alert('view')" icon="fa fa-eye" label="View"> </ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt"> </ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash"> </ng-fab-item>
</ng-fab>

<ng-fab position="center-center" direction="center" bgColor="#602B93" icon="fa fa-trash" label="asdf">
	<ng-fab-item (click)="alert('view')" icon="fa fa-eye"></ng-fab-item>
	<ng-fab-item (click)="alert('edit')" icon="fa fa-pencil-alt"> </ng-fab-item>
	<ng-fab-item (click)="alert('trash')" class="fa fa-trash"> </ng-fab-item>
</ng-fab>
